<h1>new product</h1>

<p>
<%= form_for :product, url: products_path do |f| %>
	<%= f.label :item %><br>
	<%= f.text_field :item %><br>
</p>
	
	<p>
		<%= f.label :quantity %> <br>
		<%= f.text_field :quantity %> <br>
	</p>

	<p>
		<%= f.label :price %><br>
		<%=f.text_field :price %><br>
	</p>

	<p>
		<%= f.submit %>	
	</p>
<% end %>